<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CLIENTS</title>
</head>
<body>



  <form ng-submit="vm.createClient()" id="new-client" class="form-inline">
    <div class="form-client">
      <input type="text" name='client[name]' id="client-name" placeholder="Name" class="form-control" ng-model="vm.client.name">
      <input type="text" name='client[name]' id="client-name" placeholder="Phone" class="form-control" ng-model="vm.client.phone">
      <input type="text" name='client[name]' id="client-name" placeholder="Email" class="form-control" ng-model="vm.client.email">
    </div>

    <button class="btn btn-primary btn-sm submit-create-client" type="submit">Create Client</button>
  </form>



 <!--    <button class="btn btn-success btn-sm submit-login-button" type="submit" ng-click="vm.postFish()">Save Mah' Catch!</button>
    <button class="btn btn=success btn-sm submit-create-client" type="submit">Create Project</button>
  </form> -->
  <div class="container" ng-repeat="client in vm.clients">
    <div class="table-responsive">
  <table class="table">
    <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Project</th>
        </tr>
    </thead>
     <tbody >
        <tr>
          <td>{{client.name}}</td>
          <td>{{client.phone}}</td>
          <td>{{client.email}}</td>
          <td><a ui-sref-active="active" ui-sref="projects">Client Projects</a></td>
          <td><a ui-sref-active="active" ui-sref="projects">Edit Client</a></td>
        </tr>
    </tbody>
 </table>
  </div>
</div>

</body>
</html>
