<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DashBoard</title>
</head>

<body>

<div class="welcome">
  <h2> Welcome To Devline! </h2>

  <p> Add your first client to get started </p>
<a ui-sref-active="active" ui-sref="clients"  class="btn btn-primary" data-toggle="modal">Add a Client</a>

</div>

<!-- <form>
  <input ng-model="vm.client.name" type="text">
  <input ng-model="vm.client.phone" type="text">
  <input ng-model="vm.client.email" type="text"> -->


<!-- <ul ng-repeat="client in vm.clients">
  <strong> {{client.name}} </strong>
  <strong> {{client.phone}} </strong>
  <strong> {{client.email}} </strong>
</ul>
 -->

<!--  <form ng-submit="vm.createClient()" id="new-client" class="form-inline">
    <div class="form-client">
      <input type="text" name='client[name]' id="client-name" placeholder="Name" class="form-control" ng-model="vm.client.name" />
      <input type="text" name='client[name]' id="client-name" placeholder="Phone" class="form-control" ng-model="vm.client.phone" />
      <input type="text" name='client[name]' id="client-name" placeholder="Email" class="form-control" ng-model="vm.client.email" />
    </div>

    <! <button class="btn btn-success btn-sm submit-login-button" type="submit" ng-click="vm.postFish()">Save Mah' Catch!</button>
    <button class="btn btn=success btn-sm submit-create-client" type="submit">Create Client</button>
  </form> -->

  <!--  <form ng-submit="vm.createProject()" id="new-project" class="form-inline">
    <div class="form-client">
      <input type="text" name='client[name]' id="client-name" placeholder="add a project" class="form-control" ng-model="vm.project.name" />
      <input type="text" name='client[name]' id="client-name" placeholder="rate" class="form-control" ng-model="vm.project.rate" />
      <input type="text" name='client[name]' id="client-name" placeholder="rate" class="form-control" ng-model="vm.project.rate" />
      <input type="text" name='client[name]' id="client-name" placeholder="rate" class="form-control" ng-model="vm.project.rate" />
      <input type="text" name='client[name]' id="client-name" placeholder="rate" class="form-control" ng-model="vm.project.rate" />
      <input type="text" name='client[name]' id="client-name" placeholder="rate" class="form-control" ng-model="vm.project.rate" />
      <input type="text" name='client[name]' id="client-name" placeholder="rate" class="form-control" ng-model="vm.project.rate" />
    </div>
 -->
 <!--    <button class="btn btn-success btn-sm submit-login-button" type="submit" ng-click="vm.postFish()">Save Mah' Catch!</button>
    <button class="btn btn=success btn-sm submit-create-client" type="submit">Create Project</button>
  </form> -->


  <!-- <div class="container" ng-repeat="client in vm.clients">
    <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Project</th>
      </tr>
    </thead>
    <tbody >
      <tr>
        <td>{{client.name}}</td>
        <td>{{client.phone}}</td>
        <td>{{client.email}}</td>
        <td><a ui-sref-active="active" ui-sref="projects">Client Projects</a></td>
        <td><a ui-sref-active="active" ui-sref="projects">Edit Client</a></td>
      </tr>
    </tbody>
  </table>
  </div>
</div> -->


<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Open modal for @fat</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Open modal for @getbootstrap</button>
...more buttons...

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New message</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div> -->
<!-- /div> -->

<!-- <ul>
  <li ng-repeat="client in vm.clients">
    <p>{{client.name}}</p>
    <p>{{client.phone}}</p>
    <p>{{client.email}}</p>
    <ul ng-repeat="proj in client.projects">
      {{proj.name}}
      {{proj.rate}}



    </ul>
  </li>
</ul>


<ul>
  <li ng-repeat="name in vm.project">
   <p>{{name.name}}</p>
  </li>
</ul>
 -->

</body>
</html>
