<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

<br>
<br>
<div class="container">
  <form role="form" ng-submit="vm.createProject()" id="new-project">
    <div class="form-group">
      <input type="text" name='project-client' id="project-client" placeholder="Project Name" class="form-control" ng-model="vm.project.name">
      <input type="text" name='project-client' id="project-client" placeholder="Flat Rate" class="form-control" ng-model="vm.project.rate">

        <div class="checkbox">
          <label><input type="checkbox" name='project-client' id="project-client" placeholder="Hourly Rate" class="form-control" ng-model="vm.project.hourly"> Hourly Rate </label>
        </div>
        <br>
      <input type="text" name='project-client' id="project-client" placeholder="Hours Designing" class="form-control" ng-model="vm.project.hrlyDesign">
      <input type="text" name='project-client' id="project-client" placeholder="Hours Planning" class="form-control" ng-model="vm.project.hrlyPlanning">
      <input type="text" name='project-client' id="project-client" placeholder="Hours Quality Assurance" class="form-control" ng-model="vm.project.hrlyQA">
      <input type="text" name='project-client' id="project-client" placeholder="Hours Refactoring" class="form-control" ng-model="vm.project.hrlyRefactor">

    </div>

      <button class="btn btn-primary btn-sm submit-create-client" type="submit">Create Project</button>
  </form>

</div>


 <!--  <h2>Vertical (basic) Form</h2>
  <form role="form">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>

 -->

<!-- <ul>

    <ul ng-repeat="proj in client.projects">
      {{proj.name}}
      {{proj.rate}}



    </ul>
  </li>
</ul>
 -->

<!-- <ul>
  <li ng-repeat="name in vm.project">
   <p>{{name.name}}</p>
  </li>
</ul>
 -->


 <div class="container" ng-repeat="client in vm.clients">
    <div class="table-responsive">
  <table class="table" ng-repeat="proj in client.projects">
    <thead>
      <tr>
        <th>Project Name</th>
        <th>Flat Rate</th>
        <th>Hourly Rate</th>
        <th>Design</th>
        <th>Planning</th>
        <th>Quality Assurance</th>
        <th>Refactoring</th>
      </tr>
    </thead>
    <tbody>
        <tr>
        <td>{{proj.name}}</td>
        <td>{{proj.rate}}</td>
        <td>{{proj.hourly}}</td>
        <td>{{proj.hrlyDesign}}</td>
        <td>{{proj.hrlyPlanning}}</td>
        <td>{{proj.hrlyQA}}</td>
        <td>{{proj.hrlyRefactor}}</td>
        </tr>
    </tbody>
  </table>
  </div>
</div>

</body>
</html>
