<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
 <div class="container" ng-repeat="client in vm.clients">
    <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Project</th>
      </tr>
    </thead>
    <tbody >
      <tr>
        <td>{{client.name}}</td>
        <td>{{client.phone}}</td>
        <td>{{client.email}}</td>
        <td><a ui-sref-active="active" ui-sref="projects">Client Projects</a></td>
        <td><a ui-sref-active="active" ui-sref="projects">Edit Client</a></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
</body>
</html>
