
<br>
<br>
<div class="container">
  <form class="form-inline" role="form" ng-submit="vm.createProject()" id="new-project">
    <div class="form-group">
      <h4> Flat Rate </h4>
      <input type="text" name='project-client' id="project-client" placeholder="Project Name" class="form-control" ng-model="vm.project.name">
      <input type="text" name='project-client' id="project-client" placeholder="Project Rate" class="form-control" ng-model="vm.project.rate">

        <br>
        <br>
      <h4> Hourly Project </h4>
      <label><input type="checkbox" name='project-client' id="project-client" placeholder="Hourly Rate" class="form-control" ng-model="vm.project.hourly"> Hourly Based Project </label>
        <br>
      <input type="text" ng-show="vm.project.hourly" name='project-client' id="project-client" placeholder="Hours Designing" class="form-control" ng-model="vm.project.hrlyDesign">
      <input type="text" ng-show="vm.project.hourly" name='project-client' id="project-client" placeholder="Hours Planning" class="form-control" ng-model="vm.project.hrlyPlanning">
      <input type="text" ng-show="vm.project.hourly" name='project-client' id="project-client" placeholder="Hours Quality Assurance" class="form-control" ng-model="vm.project.hrlyQA">
      <input type="text" ng-show="vm.project.hourly" name='project-client' id="project-client" placeholder="Hours Refactoring" class="form-control" ng-model="vm.project.hrlyRefactor">
      <!-- <input type="text" ng-show="vm.project.hourly" name='project-client' id="project-client" placeholder="Total Cost" class="form-control" ng-model="vm.project.cost"> -->


      <button class="btn btn-primary btn-sm submit-create-client" type="submit">Create Project</button>
  </form>
    </div>
</div>

<br>
<br>

 <div class="container" ng-repeat="client in vm.clients.list | filter: {'_id': vm.current.client}">
    <div class="table-responsive">
        <h4> {{ vm.user.data.name }}'s Projects for {{vm.clients.list.name}}</h4>

      <table class="table" ng-repeat="proj in client.projects">
        <thead>
          <tr>
            <th>Project Name</th>
            <th>Rate</th>
            <th>Design</th>
            <th>Planning</th>
            <th>Quality Assurance</th>
            <th>Refactoring</th>
            <th>Total Cost</th>
          </tr>
        </thead>
        <tbody>
            <tr>
            <td>{{proj.name}}</td>
            <td>{{proj.cost || proj.rate}}</td>
            <td>{{proj.hrlyDesign}}</td>
            <td>{{proj.hrlyPlanning}}</td>
            <td>{{proj.hrlyQA}}</td>
            <td>{{proj.hrlyRefactor}}</td>
            <td>{{(proj.rate * (proj.hrlyDesign + proj.hrlyPlanning + proj.hrlyQA + proj.hrlyRefactor)) || proj.rate}}</td>
            <td><button class="btn btn-primary btn-sm submit-create-client" ng-click="vm.editProject(client._id, proj._id)">Edit</button></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>


